@media (max-width: 900px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 17px;
  }
  section {
    padding: 40px 0;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 45px;
  }
}
