.header {
  padding: 40px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media (max-width: 900px) {
  .header {
    padding: 15px 0;
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 99;
  }
}

@media (max-width: 550px) {
  .header {
    padding: 8px 0;
  }
}
