.quality {
  padding: 100px 0;
}

.quality__wrapper {
  display: flex;
  justify-content: space-between;
}

.quality__item {
  max-width: 370px;
  padding: 40px 30px 25px;
  transition: 0.3s;
  &:hover {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  }
}

.quality__item-img {
  margin-bottom: 25px;
  width: 70px;
}

.quality__item-title {
  font-size: 24px;
  line-height: 28px;
}

.quality__item-text {
  line-height: 150%;
  margin-bottom: 25px;
}

.dropdown {
  font-family: "Gilroy-Bold";
  font-size: 11px;
  line-height: 150%;
  cursor: pointer;
}

@media (max-width: 900px) {
  .quality__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .quality__item {
    max-width: 500px;
    padding: 40px 10px 25px;
    &:hover {
      box-shadow: none;
    }
  }
}
